body {
    font-family: Arial, sans-serif;
    color: gold;
    background-image: url('https://files.catbox.moe/2peyq9.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.feature-card {
    display: block;
    background: linear-gradient(to bottom, gold, red);
    text-align: center;
    padding: 1rem;
    color: black;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: transform 0.3s;
}

.feature-card:hover {
    transform: scale(1.1);
    color: white;
}
